@import "../../styles/variables.scss";

#projects {
  padding: 5vw;
  padding-bottom: 10rem;
  width: 100%;
  
  .blur-bg {
    background-color: rgb(0, 0, 0, 0.75);
    backdrop-filter: blur(8px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 90;
  }

  .selected-container {
    position: fixed;
    background-color: $black-100;
    padding: 3rem;
    z-index: 91;
    width: calc(100% - 3rem*2);
    border-radius: 0.5rem;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .close-container {
      font-size: 2rem;
      color: #fff;
      text-align: right;
      padding: 0.5rem 0;
      margin-top: -2rem;

      svg {
        cursor: pointer;
      }
    }

    .secondary-contain {
      display: flex;

      .selected-content {
        width: 40%;
        color: #fff;
        padding: 0 1rem 0 0;

        .title {
          font-size: 2.5rem;
          position: relative;
          margin-bottom: 1.5rem;

          &::before {
            content: attr(content-title);
            font-size: 2.5rem;
            width: 100%;
            position: absolute;
            background-color: $black-100;
            height: 50%;
            overflow: hidden;
            z-index: 1;
            left: 0;
            padding-left: 0.5rem;
            margin-left: -0.5rem;

            animation: titleCut ease 5s infinite;

            @keyframes titleCut {

              0% { left: 0px; }
              30% { left: 0px; }
              32% {left: -10px;}
              33% { left: -6px; }
              34% { left: -10px; }
              35% { left: -4px; }
              36% { left: -10px; }
              49% { left: -10px; }
              50% {
                left: 0px;
                text-shadow:
                0px 0px 5px #00538C,
                0px 0px 10px #00538C,
                0px 0px 10px #00538C,
                0px 0px 20px #00538C;
              }
              80% { left: 0px; }
              82% { left: 10px; }
              83% { left: 6px; }
              84% { left: 10px; }
              85% { left: 4px; }
              86% { left: 10px; }
              89% { left: 10px; }
              90% { left: 0px; }
            }
          }
        }

        .description {
          color: rgb(255, 255, 255, 0.8);
        }

        .used-languages {
          display: flex;
          flex-wrap: wrap;
          margin-top: 1rem;
          padding-right: 1rem;

          span {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            background-color: $black-300;
            font-size: 2rem;
            overflow: hidden;

            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0.5rem 0.5rem 0 0 ;

            i {
              transition: 300ms ease;
            }

            &:hover {
              i, img {
                transform: scale(1.1);
              }
            }
          }
        }

        .btns-container {
          display: flex;
          margin-top: 1.5rem;

          a {
            width: max-content;
            border-radius: 2.5rem;
            margin-right: 1.25rem;
          }

          button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 3rem;
            border-radius: 2.5rem;
            padding-right: 0.75rem;
            border: none;
            color: #fff;
            transition: 300ms;

            span {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 2.5rem;
              height: 2.5rem;
              border-radius: 50%;
              margin-left: 0.2rem;
              margin-right: 0.25rem;
              box-shadow: 0 0 1rem black;
              background-color: #fff;
              color: #000;
            }

            &:hover {
              filter: brightness(1.4);
            }

            svg, i {
              font-size: 1.3rem;
            }

            &.view-project {
              background: linear-gradient(45deg, #004eff, #788000);
            }

            &.btn-github {
              background-color: #171a1d;
              border: solid 1px rgb(255, 255, 255, 0.2);
            }
          }
        }
      }
      
      img {
        width: 60%;
        border-radius: 0.5rem;
        position: relative;
        transition: all 400ms;
      }
    }

    @media (max-width: 1100px) {
      width: 100%;
      max-height: 100vh;
      padding: 2rem 1.25rem;

      .close-container {
        margin-top: 0;
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        z-index: 99;
      }

      .secondary-contain {
        flex-direction: column;

        .selected-content {
          width: 100%;
          padding: 0;

          .used-languages {
            padding-right: 0;
            justify-content: space-between;
          }

          .btns-container {
            margin-bottom: 1.5rem;
          }
        }
      }

      img {
        width: 100% !important;
      }
    }

  }

  .main-title {
    font-size: 2.5rem;
    color: #fff;
    margin: 0 0 1rem 0;
    position: relative;
    width: max-content;
    padding: 0 0 0 0.5rem;

    &:hover::before {
      width: 60%;
    }
    
    &::before {
      content: "";
      transition: 300ms;
      position: absolute;
      width: 50%;
      height: 0.2rem;
      background: linear-gradient(to right, $blue-200 10%, $blue-100);
      bottom: 0;
      border-radius: 0.25rem;
    }
  }

  .container {
    display: flex;
    padding-top: 3rem;

    .option {
      width: 100%;
      display: flex;
      align-items: center;
      
      .img-container {
        width: 25rem;
        position: relative;
        transition: 300ms;
        overflow: hidden;
        border-radius: 0.75rem;
        
        display: flex;
        align-items: center;
        justify-content: center;

        box-shadow: 0.75rem 0.75rem 0.65rem rgba(0, 0, 0, 0.603);
        
        .top {
          background-color: rgb(0, 101, 160);
          color: #fff;
          border-radius: 0.5rem;
          position: absolute;
          top: 0.5rem;
          right: 0.5rem;
          z-index: 1;
          padding: 0.1rem 0.75rem;
          font-weight: bold;
          font-size: 0.8rem;
          font-family: sans-serif;
        }

        &::before {
          position: absolute;
          content: "Sobre";
          font-size: 1rem;
          color: #fff;
          background-color: rgb(0, 0, 0, 0.5);
          border-radius: 0.5rem;
          backdrop-filter: blur(2px);
          z-index: 2;
          padding: 0.2rem 0.75rem;
          transition: 300ms;
          margin-left: -200%;
          cursor: pointer;
          font-family: 'Poppins', sans-serif;
        }

        &:hover {
          &::before {
            margin-left: 0;
          }

          img {
            filter: blur(1px);
            transform: scale(1.1);
          }

          .horizontal-division {
            border-bottom: solid 0.2rem rgb(255, 255, 255, 1) !important;
          }
        }

        img {
          transition: all 500ms ease;
          border-radius: 0.75rem;
          width: 100%;
          cursor: pointer;
        }
      }

      .horizontal-division {
        border-bottom: solid 0.2rem rgb(255, 255, 255, 0.2);
        flex: 1;
        text-align: center;
        line-height: 2;


        text-transform: uppercase;
        font-family: verdana;
        font-size: 1em;
        font-weight: 700;
        color: #f5f5f5;
        text-shadow: 
          0.5px 0.5px 0.5px #ffffffb9, 
          1px 1px 1px #ffffffb9, 
          1.5px 1.5px 1.5px black, 
          5px 5px 3px black;
      }
    }

    .left-options {
      flex: 1;

      .img-container:hover {
        // margin-left: -1rem;
      }      
    }

    .vertical-division {
      width: 0.2rem;
      background-color: rgb(255, 255, 255, 0.2);
      background: linear-gradient(to bottom, $black-100, rgb(255, 255, 255, 0.2) 10%, rgb(255, 255, 255, 0.2) 90%, $black-100);
    }

    .right-options {
      flex: 1;

      .option {
        flex-direction: row-reverse;

        .img-container:hover {
          // margin-right: -1rem;
        }
      }
    }
  }

  .mt {
    margin-top: 7.5rem;
  }

  .exit-animation {
    animation: exitAnimation 0.8s infinite ease;

    @keyframes exitAnimation {
      0% {
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
      }

      100% {
        left: -100%;
        transform: translate(-50%, -50%) scale(0.5);
      }
    }
  }



  @media (max-width: 1100px) {
    border: solid 1px red;

    .container {
      display: block;

      .vertical-division {
        display: none;
      }
    }
    .main-title {
      font-size: 1.75rem;
    }

    .option {
      position: relative;
      margin-top: 2rem;
      margin-bottom: 4rem;
      flex-direction: column !important;
      width: max-content !important;
      left: 50%;
      transform: translateX(-50%);

      .img-container {
      }

      .horizontal-division {
        padding: 0.5rem;
      }      
    }
  }
}