#home {
  height: 100vh;
  width: 100vw;
  position: relative;

  border-bottom: solid 2px black;

  display: flex;
  justify-content: center;
  align-items: flex-end;


  canvas#home-design {
    position: absolute;
    top: 0;
    left: 0;
  }

  #go-to-bottom {
    background-color: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    margin-bottom: 2rem;
    position: relative;
    border-radius: 2rem;
    padding: 0.2rem 0.5rem;

    height: 4rem;

    display: flex;
    align-items: flex-end;

    cursor: pointer;

    svg {
      color: #fff;
      font-size: 1.5rem;

      transition: all 300ms;

      animation: homeArrowAnimated 3s ease infinite;

      position: relative;
      bottom: 0.5rem;

      @keyframes homeArrowAnimated {
        0% {
          bottom: 0.5rem;
        }

        10% {
          bottom: 0rem;
        }

        20% {
          bottom: 0.5rem;
        }

        30% {
          bottom: 0rem;
        }

        40% {
          bottom: 0.5rem;
        }
      }
    }

  }
}