@import "../../styles/_variables.scss";

#skills {
  width: 100%;
  position: relative;

  &::before {
    content: 'Tecnologias';
    color: rgb(255, 255, 255, 0.02);
    position: absolute;
    top: -1rem;
    left: 5rem;

    font: {
      family: serif;
      weight: bold;
      size: 16rem;
    }
  }

  .skills-title {
    font-size: 3rem;
    color: #fff;
    padding: 5vw 0 0 5vw;
    position: relative;
    width: max-content;
    margin-bottom: 3rem;
    margin-top: 2rem;

    &::before {
      content: "";
      transition: 300ms;
      position: absolute;
      width: 50%;
      height: 0.2rem;
      background: linear-gradient(to right, $blue-200 10%, $blue-100);
      bottom: 0;
      border-radius: 0.25rem;
    }

    &::after {
      content: "";
      display: inline-flex;
      height: 2.5rem;
      width: 0.2rem;
      background-color: #fff;
      margin-left: 0.4rem;
      animation: cursosSkillsAnimated 1s ease infinite; 
      border-radius: 0.2rem;

      @keyframes cursosSkillsAnimated {
        0% { opacity: 1; }
        50% { opacity: 0; }
        100% { opacity: 1; }
      }
    }
  }
  
  .langs-container {
    margin-top: 2rem;
    position: relative;


    .carousel {
      display: -webkit-box;
      transition: all 300ms;
      animation: carouselAnimated 60s infinite linear;
      margin-bottom: 1rem;
      width: max-content;
      position: relative;
        
      &:hover {
        animation-play-state: paused;
      }

      @keyframes carouselAnimated {
        0% {
          transform: translateX(-0%);
        }
    
        50% {
          transform: translateX(calc(-50% + 1rem));
        }
    
        100% {
          transform: translateX(-0%);
        }
      }

    }
    .animate1 {
      animation-duration: 50s;
    }

    .lang {
      width: 8rem;
      height: 8rem;

      backdrop-filter: blur(10px);

      
      display: flex;
      align-items: center;
      justify-content: center;

      margin-right: 1rem;
      background-color: $black-400;
      padding: 1rem;
      border-radius: 0.5rem;
      position: relative;
      transition: all 300ms;
      cursor: pointer;
      user-select: none;
      z-index: 1;

      box-shadow: 0.5rem 0.5rem 0px rgb(0, 0, 0, 0.2);
      border: solid 1px rgba(0, 0, 0, 1);
    
    
      &:hover {
        width: 10rem;

        &::before {
          width: 100%;
        }

        .popup {
          width: 100%;
          height: 100%;
          opacity: 1;
        }
      }
    
      img {
        max-width: 100%;
        max-height: 100%;
      }
    
      .invert-color {
        -webkit-filter: invert(100%);
        filter: invert(100%);
      }

      .popup {
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 0%;
        opacity: 0;
        backdrop-filter: blur(10px);
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: 0.5rem;

        display: flex;
        align-items: center;
        justify-content: center;

        transition: all 300ms;
        color: #fff;
        padding: 1rem;
        text-align: center;
        font-weight: bold;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 0.2rem;
        background-image: linear-gradient(to right, $black-100, rgb(0, 140, 255));
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        z-index: 1;
        transition: all 300ms;
      }
    }

    &::before, &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 10%;
      z-index: 1;
    }

    &::after {
      right: 0;
      top: 0;
      background-image: linear-gradient(to left, $black-100, transparent);
    }

    &::before {
      background-image: linear-gradient(to right, $black-100, transparent);
    }
  }


  @media (max-width: 1100px) {
    &::before {
      font-size: 5rem;
      left: 2rem;
    }

    .skills-title {
      font-size: 1.75rem;

      &::after {
        height: 1.25rem;
        width: 0.1rem;
      }
    }

    .lang {
      padding: 0.65rem !important;
      width: 5rem !important;
      height: 5rem !important;
    }

  }
}